.markdown-navigation .title-level1 {
    font-size: 1.2em;
}

.markdown-navigation .title-level2 {
    font-size: 1.1em;
}

.markdown-navigation .title-level3 {
    font-size: 1em;
}

.markdown-navigation .title-level4 {
    font-size: 0.9em;
}

.markdown-navigation .title-level5 {
    font-size: 0.9em;
}